name: Build, Test & Push

on:
#  push:
#    branches: [ main ]
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: srv

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Run tests
        run: ./gradlew clean test --no-daemon

      - name: Build JAR
        run: ./gradlew clean bootJar --no-daemon

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/${{ github.actor }}/srv:${{ github.ref_name }}
            ghcr.io/${{ github.actor }}/srv:${{ github.sha }}
          context: .
          file: Dockerfile
